button{
    height:100px;
    width:100px;
    background-color: chartreuse;
    color:white;
    font-size:40px;
    font-weight: bold;
}
#gameover{
    position:absolute;
    top:200px;
    left:80px;
    font-size:20px;
    font-weight: bold;
}